## Ejercicio 1: Creación de diccionarios de Python
### Crear y modificar un diccionario de Python

In [1]:
# Crea un diccionario llamado planet con los datos propuestos
planet = {
    "name" : "Mars",
    "moons": 2
}

In [2]:
# Muestra el nombre del planeta y el número de lunas que tiene.
print(f"The name of the planet is {planet['name']}. and it has a total of {planet.get('moons')} moons")

The name of the planet is Mars. and it has a total of 2 moons

In [3]:
# Agrega la clave circunferencia con los datos "polar: 6752" y "equatorial: 6792"
planet['circunferencia (km)'] = {
    "polar": 6752,
    "equatorial": 6792
}

In [4]:
# Imprime el nombre del planeta con su circunferencia polar.
print(f"The name of the planet is {planet['name']}. and its polar circumference is {planet['circunferencia (km)']['polar']}")

The name of the planet is Mars. and its polar circumference is 6752

## Ejercicio 2: Programación dinámica con diccionarios
### Cálculo de valores
Calcular tanto el número total de lunas en el sistema solar como el número promedio de lunas que tiene un planeta.

In [5]:
# Planets and moons
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [6]:
# Añade el código para determinar el número de lunas y almacenar numero de planetas
moons = planet_moons.values()
planets = len(planet_moons.keys())


print(moons)
print(planets)

dict_values([0, 0, 1, 2, 79, 82, 27, 14, 5, 2, 1, 1])
12

In [7]:
# Calcule el promedio dividiendo total_moons por planets
total_moons = 0
for count in moons:
    total_moons += count

# Impresión del promedio 
print(f"El promedio de lunas es: {total_moons/planets}")

El promedio de lunas es: 17.833333333333332